@font-face {
  font-family: "iconfont"; /* Project id 3150509 */
  src: url('//at.alicdn.com/t/font_3150509_92miu8uxu2p.woff2?t=1642996537778') format('woff2'),
       url('//at.alicdn.com/t/font_3150509_92miu8uxu2p.woff?t=1642996537778') format('woff'),
       url('//at.alicdn.com/t/font_3150509_92miu8uxu2p.ttf?t=1642996537778') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e70d";
}

.icon-search:before {
  content: "\e601";
}

.icon-add:before {
  content: "\e742";
}

.icon-more:before {
  content: "\e600";
}

.icon-time:before {
  content: "\e638";
}

.icon-duan:before {
  content: "\e62f";
}

.icon-lie:before {
  content: "\e621";
}

.icon-qiye:before {
  content: "\e6a7";
}

.icon-copy:before {
  content: "\ec7a";
}

.icon-baidu:before {
  content: "\e651";
}

.icon-en:before {
  content: "\e605";
}

.icon-bing:before {
  content: "\e955";
}
